{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <h1>Edit Game</h1>

    {{ include('entraineur/game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entraineur_app_game_index') }}">back to list</a>

    {{ include('entraineur/game/_delete_form.html.twig') }}
{% endblock %}
